@model IEnumerable<CafeGocNho_63134417.Models.CHITIETHOADON>

@{
    ViewBag.Title = "Chi tiết hóa đơn";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Hóa đơn - Cafe Góc Nhỏ</title>
    <link rel="icon" type="image/x-icon" href="/Images/logo.png">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-[600px] mx-auto my-6 p-6 border-2 shadow-lg">
        <!-- Header -->
        <div class="grid grid-cols-2 items-center">
            <div class="flex items-center">
                <img src="~/Images/logo2.png" class="w-24 h-24" />
                <h1 class="text-3xl font-bold ml-4">Cafe <br />Góc Nhỏ</h1>
            </div>
            <p class="text-right text-sm text-gray-500">KHÁNH HÒA</p>
        </div>

        <hr class="mt-4" />

        <!-- Invoice Information -->
        <div class="mt-6 grid grid-cols-2 gap-4">
            <p class="col-span-2 text-xl text-center font-bold uppercase">Bàn: @ViewBag.tableId</p>
            <p class="font-semibold">Hóa đơn: @ViewBag.MAHD</p>
            <p class="text-right">Nhân viên: @ViewBag.maNV</p>
            <p class="col-span-2 text-sm text-gray-600">Thời gian: @ViewBag.thoiGianNhanDon</p>
        </div>

        <!-- Table of items -->
        <table class="min-w-full mt-6 border">
            <thead class="bg-gray-100 text-left">
                <tr>
                    <th class="py-2 px-4 border">Sản phẩm</th>
                    <th class="py-2 px-4 border">ĐVT</th>
                    <th class="py-2 px-4 border text-right">SL</th>
                    <th class="py-2 px-4 border text-right">Đơn giá</th>
                    <th class="py-2 px-4 border text-right">Tổng</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="border-b">
                        <td class="py-2 px-4">@item.MENU.TENMH</td>
                        <td class="py-2 px-4">@item.MENU.DVT</td>
                        <td class="py-2 px-4 text-right">@item.SOLUONG</td>
                        <td class="py-2 px-4 text-right">@item.GIABAN</td>
                        <td class="py-2 px-4 text-right">@(@item.MENU.GIACA * item.SOLUONG)</td>
                    </tr>
                }
            </tbody>
        </table>

        <hr class="mt-6" />

        <!-- Summary -->
        <div class="mt-4 text-left w-full grid grid-cols-2">
            <div></div>
            <div class="grid grid-cols-2 gap-y-2">
                <p class="text-gray-600">Tổng tiền hàng:</p><p class="font-bold text-right">@ViewBag.total</p>
                <p class="text-gray-600">Giảm giá (<strong>@ViewBag.discount%</strong>):</p><p class="font-bold text-right text-red-500">@ViewBag.discountAmount</p>
                <p class="text-gray-600">Tổng đơn:</p><p class="font-bold text-right">@ViewBag.afterDiscount</p>
            </div>
        </div>

        <hr class="mt-6" />

        <!-- Footer -->
        <p class="text-center mt-4 text-xl font-bold uppercase">Trân trọng cảm ơn quý khách!</p>
    </div>
</body>
</html>
